body,
html {
	margin: 0;
	padding: 0;
}
.mask-back-fixed {
	position: fixed;
	width: 100%;
	height: 100%;
}
#RulersGuides {
	position: fixed;
	top: 0;
	left: 0;
	font-family: Monaco, Menlo, Verdana, Consolas, Courier, monospace;
}
#RulersGuides .rg-background {
	position: fixed;
	top: 0;
	left: 0;
	display: none;
	overflow: hidden;
	width: 100%;
	height: 100%;
	background-image: url(https://goss2.vcg.com/creative/vcg/400/version23/VCG41170958625.jpg);
	background-position: 0 0;
	background-size: 100% auto;
	opacity: .7;
}
#RulersGuides .rg-overlay {
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
}
#RulersGuides .guide {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9991;
	font-size: 0;
}
#RulersGuides .guide.v {
	width: 2vmin;
	height: 1600vmin;
	border-left: 1px solid #9437ff;
	cursor: col-resize;
}
#RulersGuides .guide.h {
	width: 1600vmin;
	height: 2vmin;
	border-top: 1px solid #9437ff;
	cursor: row-resize;
}
#RulersGuides .info {
	position: relative;
	width: 10vmin;
	height: 5vmin;
	border: 1px solid #ccc;
	background-color: #eee;
	color: #000;
	text-align: center;
	font-size: 2.6vmin;
	line-height: 5vmin;
}
#RulersGuides .guide.v .info {
	left: .4vmin;
}
#RulersGuides .guide.h .info {
	top: .4vmin;
}
#RulersGuides .unselectable {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
#RulersGuides .ruler {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9990;
	background-color: #ccc;
}
#RulersGuides .ruler .label {
	color: #000;
	font-size: 2.4vmin;
}
#RulersGuides .ruler,
#RulersGuides .ruler span {
	font-size: 0;
}
#RulersGuides .ruler.h {
	left: -1px;
	padding-top: 2.8vmin;
	width: 600vmin;
	border-bottom: 1px solid #000;
	white-space: nowrap;
}
#RulersGuides .ruler.v {
	top: -1px;
	padding-left: 3.2vmin;
	width: 5vmin;
	height: 1400vmin;
	border-right: 1px solid #000;
}
#RulersGuides .ruler.h span {
	display: inline-block;
	width: 1px;
	height: 1.8vmin;
	border-left: 1px solid #999;
	vertical-align: bottom;
	zoom: 1;
}
#RulersGuides .ruler.v span {
	display: block;
	margin-right: 0;
	margin-left: auto;
	width: 1.8vmin;
	height: 1px;
	border-top: 1px solid #999;
}
#RulersGuides .ruler.v span.major {
	width: 2.6vmin;
	border-top: 1px solid #000;
}
#RulersGuides .ruler.v span.milestone {
	position: relative;
	width: 3.4vmin;
	border-top: 1px solid #000;
}
#RulersGuides .ruler.v span.label {
	position: absolute;
	width: 1.8vmin;
	border: 0;
	text-align: center;
	font-size: 1.8vmin;
}
#RulersGuides .ruler.h span.major {
	height: 2.6vmin;
	border-left: 1px solid #000;
}
#RulersGuides .ruler.h span.milestone {
	position: relative;
	height: 3.4vmin;
	border-left: 1px solid #000;
}
#RulersGuides .ruler.h span.label {
	position: absolute;
	top: -2.8vmin;
	width: 1.8vmin;
	border: 0;
	text-align: center;
	font-size: 1.8vmin;
}
#RulersGuides .ruler.h .l10 {
	left: -1vmin;
}
#RulersGuides .ruler.h .l100 {
	left: -1.4vmin;
}
#RulersGuides .ruler.h .l1000 {
	left: -2vmin;
}
#RulersGuides .ruler.v .l10,
#RulersGuides .ruler.v .l100,
#RulersGuides .ruler.v .l1000 {
	top: -1.4vmin;
}
#RulersGuides .ruler.v .l10 {
	left: -2.4vmin;
}
#RulersGuides .ruler.v .l100 {
	left: -3.4vmin;
}
#RulersGuides .ruler.v .l1000 {
	left: -4.6vmin;
}
#RulersGuides .menu-btn {
	position: fixed;
	top: .4vmin;
	left: .6vmin;
	z-index: 9998;
	width: 4vmin;
	height: 4vmin;
	border-radius: .4vmin;
	background-color: #ff7e79;
	color: #fff;
	text-align: left;
	font-weight: 700;
	font-size: 4vmin;
	line-height: 1.8vmin;
	opacity: .5;
	cursor: pointer;
}
#RulersGuides .rg-menu {
	position: fixed;
	top: 4.4vmin;
	left: .6vmin;
	z-index: 9999;
	display: none;
	margin: 0;
	padding: 0;
	box-shadow: .4vmin .4vmin 2vmin #ccc;
	list-style: 0;
	font-size: 2.6vmin;
}
#RulersGuides .rg-menu li {
	padding: 0;
	border-bottom: 1px solid #999;
	text-align: left;
}
#RulersGuides .rg-menu a {
	display: block;
	padding: 1vmin;
	background-color: #777;
	color: #fff;
	text-decoration: none;
	line-height: 3.6vmin;
}
#RulersGuides .rg-menu a.selected,
#RulersGuides .rg-menu a:hover {
	background-color: #3b94ec;
	color: #fff;
}
#RulersGuides .rg-menu a.disabled {
	color: #ccc;
}
#RulersGuides .rg-menu .desc {
	display: inline-block;
	width: 34vmin;
}
#RulersGuides .dialog {
	position: fixed;
	z-index: 9999;
	display: none;
	background-color: #777;
	box-shadow: .4vmin .4vmin 2vmin #ccc;
	color: #fff;
	font-size: 2.6vmin;
}
#RulersGuides .config-dialog {
	top: 50%;
	left: 50%;
	width: 85vmin;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
#RulersGuides .config-dialog b {
	color: #ff7e79;
}
#RulersGuides .config-dialog label {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-ms-flex-align: center;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}
#RulersGuides .config-dialog label .ipt {
	-webkit-box-flex: 1;
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
}
#RulersGuides .config-dialog table {
	width: 100%;
	border-collapse: collapse;
}
#RulersGuides .config-dialog table button {
	white-space: nowrap;
}
#RulersGuides .config-dialog td,
#RulersGuides .config-dialog th {
	border: 1px solid #fff;
	white-space: normal;
	word-wrap: break-word;
	word-break: break-all;
}
#RulersGuides .dialog button {
	border: none;
	border-radius: .6vmin;
	background-color: #eaeaea;
	background-image: -webkit-linear-gradient(#fafafa, #eaeaea);
	background-image: linear-gradient(#fafafa, #eaeaea);
	background-repeat: repeat-x;
	color: #333;
	text-shadow: 0 1px 0 hsla(0, 0%, 100%, .9);
	cursor: pointer;
}
#RulersGuides .dialog button,
#RulersGuides .dialog input,
#RulersGuides .dialog select {
	margin: .6vmin;
	padding: .6vmin;
	border: 1px solid #fff;
	font-size: 2.6vmin;
}
#RulersGuides .dialog .title-bar {
	padding: 1vmin;
	background-color: #aaa;
	font-weight: 700;
}
#RulersGuides .dialog .wrapper {
	padding: 2vmin;
}
#RulersGuides .open-dialog button,
#RulersGuides .open-dialog select {
	display: inline-block;
}
#RulersGuides .open-dialog .cancel-btn,
#RulersGuides .open-dialog .ok-btn {
	margin: 2vmin .6vmin;
}
#RulersGuides .open-dialog .ok-btn {
	clear: both;
}
#RulersGuides .snap-dialog label {
	padding: .6vmin;
	font-weight: 700;
}
#RulersGuides .snap-dialog .ok-btn {
	margin-left: 3.6vmin;
}
#RulersGuides .snap-dialog .cancel-btn,
#RulersGuides .snap-dialog .ok-btn {
	margin-top: 2vmin;
}
#RulersGuides .snap-dialog .rg-y-label {
	margin-left: 2vmin;
}
#RulersGuides #rg-x-snap,
#RulersGuides #rg-y-snap {
	width: 10vmin;
}
#RulersGuides .info-block-wrapper {
	position: absolute;
	z-index: 9989;
}
#RulersGuides .info-block {
	position: absolute;
	text-align: left;
}
#RulersGuides .info-block.even {
	background: rgba(148, 55, 255, .2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#330000FF, endColorstr=#330000FF);
	zoom: 1;
}
#RulersGuides .info-block.odd {
	background: rgba(255, 126, 121, .2);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33FF0000, endColorstr=#33FF0000);
	zoom: 1;
}
#RulersGuides .info-block-txt {
	display: inline-block;
	padding: 1vmin;
	background-color: #777;
	color: #fff;
	vertical-align: top;
	font-size: 2.6vmin;
	zoom: 1;
}